:host {
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-block-end: 0.75rem;
}

.form-field-readonly {
  color: var(--p-text-muted-color);
}

.form-field-label {
  font-size: 0.85rem;
  font-weight: 600;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-block-start: 1rem;
}
